<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h1>Kelas Terbuka</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url "index" %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "blog:index" %}" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "admin:index" %}" class="nav-link">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>