{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="myNav">
    <a class="navbar-brand" href="#">
        <img style="height: 30px;" src="{% static "img/logo.png" %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {# Template Tags #}
            {% for link,name in nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{{link}}">{{name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>