/* #banner {
    width: 100%;
}

h1 {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    background-color: #555;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    color: #fff;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #f00;
} */

.jumbotron {
    background-image: url("/static/img/mainHeader.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}
