{% extends 'base.html' %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock app_css %}

{% block header %}
<h1 class="text-left" style="margin-top: 100px;">{{judul}}</h1>
<p class="lead text-left">{{subheading}}</p>
{% endblock header %}

{% block content-1 %}
    <div class="row" style="height: 400px;">
        <h1>Content Blog</h1>
        {% if error != None %}
            <h2>{{error}}</h2>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{post_form.as_table}}
        </table>
        <br>
        <button type="submit">Send!</button>
    </form>
{% endblock content-1 %}

{% block content-2 %}
    <div class="row bg-info" style="height: 400px;">
        <h1>Content Blog</h1>
    </div>
{% endblock content-2 %}

{% block model_post %}
    {% for post in posts %}
        <h3>{{post.title}}</h3>
        <h4>{{post.waktuposting}}</h4>
        <p>{{post.body}}</p>
        <p>Kategori: {{post.category}}</p>
    {% endfor %}
{% endblock model_post %}