{% extends 'base.html' %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static 'about/css/styles.css' %}"
{% endblock app_css %}

{% block header %}
<h1 class="text-left" style="margin-top: 300px;">{{judul}}</h1>
<p class="lead text-left">{{subheading}}</p>
{% endblock header %}

{% block content-1 %}
<div class="row" style="height: 400px;">
    <h1>Content About 1</h1>
</div>
{% endblock content-1 %}

{% block content-2 %}
<div class="row bg-info" style="height: 400px;">
    <h1>Content About 2</h1>
</div>
{% endblock content-2 %}
