<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Django #45</title>
</head>
<body>
    <h1>{{Page_title}}</h1>
    <p>{{object_list}}</p>
    <ol>
        {% for artikel in object_list %}
            <li>
                <a href="{% url 'blog:detail' artikel.slug %}">{{artikel.judul}} - oleh: {{artikel.penulis}}</a>
            </li>
            <p>{{artikel.isi}}</p>
        {% endfor %}
    </ol>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'blog:list' penulis page_obj.previous_page_number %}">&laquo;</a>
        {% else %}
            <span>&laquo;</span>
        {% endif %}
        {% for i in paginator.page_range %}
            <a href="{% url 'blog:list' penulis i %}">{{i}}</a>
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="{% url 'blog:list' penulis page_obj.next_page_number %}">&raquo;</a>
        {% else %}
            <span>&raquo;</span>
        {% endif %}
    {% endif %}

    <!-- <ul>
        <li>Paginator: {{paginator}}</li>
        <li>Page: {{page_obj}}</li>
        <li>Is paginated?: {{is_paginated}}</li>
        <li>{{object_list}}</li>
    </ul> -->
</body>
</html>