<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Page_title }}</title>
</head>
<body>
    <h1>{{ Page_title }}</h1>
    <h2>{{ object.judul }}</h2>
    <span>Oleh: {{ object.penulis }}</span>
    <span>Ditulis: {{ object.publish }}</span>
    <p>{{ object.isi }}</p>

    <br>
    <a href="{% url 'blog:list' 'all' %}">Kembali</a>

    <br>
    <h3>Artikel lainnya:</h3>
    <ol>
        {% for artikel in artikel_lain %}
            <li>
                <a href="{% url 'blog:detail' artikel.slug %}">{{ artikel.judul }}</a> - oleh: {{ artikel.penulis }}
            </li>
        {% endfor %}
    </ol>
</body>
</html>