<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Page_title}}</title>
</head>
<body>
    <h1>{{Page_title}}</h1>
</body>
</html>