<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TENTANG | Kelas Terbuka</title>
</head>
<body>
    <h1>TENTANG</h1>
    <p>Created by: Muhammad Adam Fahmil 'Ilmi</p>
    <ul>
        <li><a href="">Beranda</a></li>
        <li><a href="{% url "about:index" %}">Tentang</a></li>
        <li><a href="{% url "contact: index" %}">Hubungi Saya</a></li>
        <li><a href="{% url "blog:index" %}">Blog</a></li>
    </ul>
</body>
</html>