{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    
    {% include "snippets/styles.html" %}
    
    {% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    {% endblock app_css %}
    
</head>
<body>
    {% include "snippets/navbar.html" %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-white text-center">
            {% block header %}
            {% endblock header %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="container bg-white text-dark shadow" style="margin-top:-100px;" id="myBody">
            {% block content-1 %}
            {% endblock content-1 %}
        </div>
        <div class="container bg-dark text-white shadow">
            {% block content-2 %}
            <div class="row" style="height: 300px;">
                <h1>Content 2</h1>
            </div>
            {% endblock content-2 %}
        </div>
        
        <img id="banner" src="{% static banner %}" alt="">
        <h1></h1>
        <p>Selamat datang di {{judul}}-nya {{kontributor}}!</p>
        <p>Website ini menggunakan Django Web Framework</p>

        {% block model_post %}
        {% endblock model_post %}
    </div>

    {% include "snippets/scripts.html" %}
</body>
</html>