{% extends 'base.html' %}

{% block header %}
<h1 class="display-4">{{heading}}</h1>
<p class="lead">{{subheading}}</p>
{% endblock header %}

{% block content-1 %}
<div class="row" style="height: 400px;">
    <h1>Content 1</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nama">Nama :</label>
        <input type="text" name="nama" id="nama">
        <br>
        <label for="alamat">Alamat :</label>
        <input type="text" name="alamat" id="alamat">
        <br>
        <button type="submit">Kirim</button>
    </form>
    <h2>{{nama}}</h2>
    <h2>{{alamat}}</h2>
    <br>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form_field.as_table}}
        </table>
        <br>
        <button type="submit">Send!</button>
    </form>
</div>
{% endblock content-1 %}

{% block content-2 %}
<div class="row" style="height: 400px;">
    <h1>Overload Content 2</h1>
</div>
{% endblock content-2 %}