<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Heading}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>{{Heading}}</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{contact_form.nama_lengkap.label_tag}}
                {{contact_form.nama_lengkap}}
            </div>
            <div class="form-group">
                {{contact_form.jenis_kelamin.label_tag}}
                {% for component in contact_form.jenis_kelamin %}
                    <div class="form-check">
                        {{component.tag}}
                        <label for="{{component.id_for_label}}" class="form-check-label">
                            {{component.choice_label}}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{contact_form.tanggal_lahir.label_tag}}
                <div class="form-row">
                    {{contact_form.tanggal_lahir}}
                </div>
            </div>
            <div class="form-group">
                {{contact_form.email.label_tag}}
                {{contact_form.email}}
            </div>
            <div class="form-group">
                {{contact_form.alamat.label_tag}}
                {{contact_form.alamat}}
            </div>
            <div class="form-group">
                <div class="form-check">
                    {{contact_form.agree}}
                    <label for="{{contact_form.agree.id_for_label}}" class="form-check-label">
                        {{contact_form.agree.label}}
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Kirim</button>
        </form>
        <h2>{{nama}}</h2>
        <h2>{{alamat}}</h2>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>