<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>HOME {{user}} {{tipe}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nam qui debitis consequatur tempore, dolorum eligendi atque? Nemo voluptatibus atque molestias adipisci nisi, sunt eius illum labore, alias quis commodi!</p>
</body>
</html>