<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block Title %}
        {% endblock Title %}
    </title>
    {% include "snippets/styles.html" %}
</head>
<body>
    
    {% include "snippets/navbar.html" %}
    <div class="container" style="margin-top: 100px;">
        <h1>
            {% block pageTitle %}
            {% endblock pageTitle %}
        </h1>
    </div>
    <div class="container bg-light shadow mt-5">
        {% block Contents %}
        {% endblock Contents %}
    </div>

    {% include "snippets/scripts.html" %}
</body>
</html>