{% extends "base.html" %}

{% block Title %}
    {{Judul}}
{% endblock Title %}

{% block pageTitle %}
    {{Judul}}
{% endblock pageTitle %}

{% block Contents %}
    {{Content}}
    <ul class="nav">
            <li class="nav-item">
                <a href="/blog" class="nav-link">All-Post</a>
            </li>
        {% for dataCategory in Categories %}
            <li class="nav-item">
                <a href="/blog/category/{{dataCategory.category}}" class="nav-link">
                    {{dataCategory.category}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h1>{{Posts.judul}}</h1>
    <p>{{Posts.publish}}</p>
    <p>{{Posts.body}}</p>
{% endblock Contents %}
