{% extends "base.html" %}

{% block Title %}
    {{Judul}}
{% endblock Title %}

{% block pageTitle %}
    {{Judul}}
{% endblock pageTitle %}

{% block Contents %}
    {{Content}}
    <ul class="nav">
            <li class="nav-item">
                <a href="{% url "blog:index" %}" class="nav-link">All-Post</a>
            </li>
        {% for dataCategory in Categories %}
            <li class="nav-item">
                <a href="{% url "blog:category" categoryInput=dataCategory.category %}" class="nav-link">
                    {{dataCategory.category}}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% for post in Posts %}
        <a href="{% url "blog:detail" slugInput=post.slug %}">
            <h1>{{post.judul}}</h1>
        </a>
        <p>{{post.publish}}</p>
        <p>{{post.body|truncatechars:200}}</p>
    {% endfor %}
{% endblock Contents %}
