{% extends "sosmed/base.html" %}

{% block contents %}
    <h1>{{page_title}}</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{akun_form.as_table}}
        </table>
        <button type="submit">Kirim</button>
    </form>
{% endblock contents %}