{% extends "sosmed/base.html" %}

{% block contents %}
    <h1>{{page_title}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Username</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for akun in akun_all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{akun.nama_depan}}</td>
                <td>{{akun.nama_belakang}}</td>
                <td>{{akun.username}}</td>
                <td>
                    <a href="{% url "sosmed:delete" akun.id %}" class="btn btn-danger">Hapus</a>
                    <a href="{% url "sosmed:update" akun.id %}" class="btn btn-warning">Ubah</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url "sosmed:create" %}" class="btn btn-primary">Tambah</a>
{% endblock contents %}