<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>
    <h1>{{judul}}</h1>
    <p><i>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint unde doloremque commodi et ea. Dicta pariatur, placeat natus, alias vitae expedita, saepe eaque ducimus consequuntur neque quo corporis dolorem qui.</i></p>
    <h3>Penulis: {{penulis}}</h3>
</body>
</html>