<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam doloremque eum dolor corrupti impedit incidunt facere molestias illo in reprehenderit quo, voluptates, quaerat ducimus maiores tempore, laboriosam amet fugiat.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">POST</button>
    </form>
</body>
</html>