<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
</head>
<body>
    <h1>{{heading}}</h1>

    <form method="post">
        {% csrf_token %}
        <button type="submit">POST</button>
    </form>
</body>
</html>