<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>
    <h1>{{judul}}</h1>
    <p>Parameter1 = {{parameter1}}</p>
    <p>Parameter2 = {{parameter2}}</p>
    <h3>Penulis : {{penulis}}</h3>
</body>
</html>